.TopBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 0;
}

.Header {
  max-width: 48rem;
}

.Filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.SearchQueryInput {
  flex: 1;
  max-width: 30rem;
  min-width: 20rem;
}

.CategorySwitcher {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 800px) {
  .TopBlock {
    grid-template-columns: 1fr;
  }
}
