.WhyPulsar {
  min-height: 100vh;
  position: relative;
  padding: 0 1rem;
}

@media (max-width: 1000px) {
  .WhyPulsar {
    padding-bottom: 0;
  }
}

.DottyBackground {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 72%;
    width: 30%;
    z-index: -1;
    background-color: #fff;
    opacity: .8;
    background-image: -moz-radial-gradient(var(--text-color) 1px,#fff 1px);
    background-image: radial-gradient(var(--text-color) 1px,#fff 1px);
    background-size: 18px 18px;
}

@media (max-width: 1250px) {
  .DottyBackground {
    width: 25%;
  }
}
@media (max-width: 1150px) {
  .DottyBackground {
    width: 20%;
  }
}

@media (max-width: 1050px) {
  .DottyBackground {
    display: none;
  }
}

.Content {
  max-width: var(--max-content-width);
  margin: auto;
  padding: 0 0 5rem 0;
  position: relative;
  z-index: 1;
}

.ReadableContent {
  max-width: var(--max-readable-content-width);
}

.Title {
  margin-bottom: 4rem;
}

.Sections {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.Section {
  font-size: var(--font-size-medium-text);
}
