.WhyPulsar {
  min-height: 100vh;
  position: relative;
  padding: 0 2rem;
  padding-bottom: 8rem;
}

@media (max-width: 1000px) {
  .WhyPulsar {
    padding-bottom: 0;
  }
}

.Content {
  max-width: var(--max-content-width);
  margin: auto;
  padding: 0 0 5rem 0;
  position: relative;
  z-index: 1;
}

.ReadableContent {
  max-width: var(--max-readable-content-width);
}

.Title {
  margin-bottom: 4rem;
}

.Sections {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.Section {
  font-size: var(--font-size-medium-text);
}
