@media (min-width: 997px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100%;
    position: sticky;
    top: 0;
    padding-top: var(--ifm-navbar-height);
    width: var(--doc-sidebar-width);
    transition: opacity 50ms ease;
  }

  .sidebarWithHideableNavbar {
    padding-top: 0;
  }

  .sidebarHidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .sidebarLogo {
    display: flex !important;
    align-items: center;
    margin: 0 var(--ifm-navbar-padding-horizontal);
    min-height: var(--ifm-navbar-height);
    max-height: var(--ifm-navbar-height);
    color: inherit !important;
    text-decoration: none !important;
  }

  .sidebarLogo img {
    margin-right: 0.5rem;
    height: 2rem;
  }
}

.sidebarLogo {
  display: none;
}

.sidebarVersionSwitch {
  display: flex;
  align-items: center;
  padding: 4px 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #198fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
}

.sidebarVersionSwitch a {
  cursor: pointer;
}

.sidebarVersionSwitch div {
  display: inline-block !important;
}
