.Container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
}

.Select {
  font-size: 1rem;
  height: 3rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  padding: 0 1.2rem;
  appearance: none;
  transition: var(--transition-short);
  background: #fff;
}

.Select:focus {
  outline: none;
  border: 1px solid var(--border-color-focused);
  transition: var(--transition-short);
}

.DisabledSelect {
  opacity: 1;
  color: #aaa;
}

.Placeholder {
  opacity: 0.5;
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  pointer-events: none;
}

.Arrow {
  position: absolute;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.Arrow svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--text-color);
}

.DisabledArrow svg {
  fill: #aaa;
}
