.user, .check, .speech, .arrow{
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.user{
    background-image: url(../images/user.svg);
}
.check{
    background-image: url(../images/check.svg);
}
.speech{
    background-image: url(../images/speech.svg);
}
.arrow{
    background-image: url(../images/arrow.svg);
}