.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

*/website/translated_docs
*/website/build/
*/website/yarn.lock
*/website/node_modules
*/website/i18n/*
*/website/static/swagger/master/*
*/website/static/swagger/restApiVersions.json
*/website/static/swagger/*/v*/*.json
*/website/i18n/*
*/website/translated_docs*
*/website/brodocs/index.html
*/website/brodocs/navData.js
*/website/brodocs/documents/*.md

*/website-next/translated_docs
*/website-next/build/
*/website-next/yarn.lock
*/website-next/node_modules
*/website-next/i18n/*
*/website-next/static/swagger/master/*
*/website-next/static/swagger/restApiVersions.json
*/website-next/static/swagger/*/v*/*.json
*/website-next/i18n/*
*/website-next/translated_docs*
*/website-next/brodocs/index.html
*/website-next/brodocs/navData.js
*/website-next/brodocs/documents/*.md

build/
bak/