.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.component {
  position: fixed;
  top: 35%;
}

@media (max-width: 800px) {
  .component {
    top: calc(var(--ifm-navbar-height) + 3rem + 1rem);
  }
}
