.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.component {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  opacity: 1;
  will-change: transform, opacity;
}

@media (max-width: 1000px) {
  .component {
    top: 2rem;
  }
}
