.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  height: 4.8rem;
  width: 100%;
  max-width: 1280px;
}

.logo {
  height: 1.25rem;
  width: 6.35rem;
}

.links {
  display: flex;
  width: 27.5rem;
  justify-content: space-between;
}

.links > a {
  color: #282826;
  text-decoration: none;
}

.functionality {
  display: flex;
}

.functionality > div {
  margin-right: 0.8rem;
}

