.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px;
  height: 96px;
  width: 100%;
  max-width: 1280px;
}

.logo {
  height: 25px;
  width: 127px;
}

.links {
  display: flex;
  width: 550px;
  justify-content: space-between;
}

.links > a {
  color: #282826;
  font-size: 20px;
  text-decoration: none;
}

.functionality {
  display: flex;
}

.functionality > div {
  margin-right: 16px;
}

