.FeaturedEvent {
  background: url(../images/pulsarsummit.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.FeaturedEvent h2 small{
  display: block;
  font-size: 0.8em;
  font-weight: 400;
}

@media(min-width: 1000px){
  .FeaturedEvent {
    flex-direction: row;
  }
  .FeaturedEvent h2, .FeaturedEvent > div{
    width: 50%;
  }
}