.HowToContributeDesktop{
    display: none;
}
.HowToContributeMobile{
    display: block;
}

@media(min-width: 1000px){
    .HowToContributeDesktop{
        display: block;
    }
    .HowToContributeMobile{
        display: none;
    }
}