.TwoColumnsLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 24px;
}

@media (max-width: 1000px) {
  .TwoColumnsLayout {
    grid-template-columns: 1fr;
  }
}

.OneColumnLayout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 72px 0;
}
