.ContentCard {
  display: flex;
}

.NormalImage {
  flex: 0 0 96px;
  width: 96px;
  height: 96px;
  display: block;
  margin-right: 24px;
}

.BigImage {
  flex: 0 0 192px;
  width: 192px;
  height: 192px;
  display: block;
  margin-right: 24px;
}

.Actions {
  margin-top: 18px;
  display: flex;
}

.ActionButton {
  margin-right: 1rem;
}
