.OneColumnLayout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 72px 0;
}

.TwoColumnsLayout, .ThreeColumnsLayout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px 24px;
}

@media (min-width: 1000px) {
  .TwoColumnsLayout {
    grid-template-columns: 1fr 1fr;
  }
  .ThreeColumnsLayout{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
