.ContentCard {
  display: flex;
  max-width: var(--max-readable-content-width);
}

.NormalImage {
  flex: 0 0 6rem;
  width: 6rem;
  height: 6rem;
  display: block;
  margin-right: 1.5rem;
}

.BigImage {
  flex: 0 0 12rem;
  width: 12rem;
  height: 12rem;
  display: block;
  margin-right: 1.5rem;
}

.Actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.ActionButton {
}

@media (max-width: 640px) {
  .ContentCard {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .Actions {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .ActionButton {
    flex: 1;
  }

  .ActionButton > * {
    width: 100%;
  }
}

