.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.4rem;
  background-color: #282826;
  color: #F6F6F6;
}

.block:hover {
  color: #F6F6F6;
  text-decoration: none;
  opacity: 0.8;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
}
.icon:first-child {
  margin-right: 0.75rem;
}
.icon:last-child {
  margin-left: 0.975rem;
}

@media (max-width: 800px) {
  .block {
    display: none;
  }
}