.Cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.Card {
  transition: all .35s ease-in-out;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}

.Card:hover{
  text-decoration: none;
  color: var(--text-color);
  border-color: var(--gray-3-);
}

.Card p{
  margin: 0;
}

.Card h3{
  font-size: 2rem;
  line-height: 2.25rem;
  margin-bottom: 0;
}

.Card img{
  transition: all .35s ease-in-out;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  opacity: 0;
}

.Card:hover img{
  opacity: 1;
}