.arrow_button {
  top: 102.5%;
  width: 48px;
  height: 48px;
}

.prev_button {
  right: unset !important;
  left: 0 !important;
}

.next_button {
  right: unset !important;
  left: 4rem !important;
}


.arrow_button:hover {
  opacity: 0.5;
}


@media (max-width: 1000px) {
  .arrow_button {
    transform: translate(1rem, 0);
  }
}
