.Slider :global(.slick-track) {
  display: flex;
  align-items: center;
}

.ArrowButton {
  top: 102.5%;
  width: 48px;
  height: 48px;
}

.PrevButton {
  right: unset !important;
  left: 0 !important;
}

.NextButton {
  right: unset !important;
  left: 4rem !important;
}

.ArrowButton:hover {
  opacity: 0.75;
}

:global(.slick-dots li.slick-active button:before) {
  color: var(--text-color);
  opacity: 1;
}

:global(.slick-dots li button:before) {
  font-size: 0.6rem;
  opacity: 0.2;
}

@media (max-width: 1300px) {
  .ArrowButton {
    transform: translate(1rem, 0);
  }
}
