.Slider :global(.slick-track), .SliderInvert :global(.slick-track) {
  display: flex;
  align-items: center;
}

.ArrowButton {
  top: 102.5%;
  width: 48px;
  height: 48px;
}

.PrevButton {
  right: unset !important;
  left: calc(50% - 54px) !important;
}

.NextButton {
  right: unset !important;
  left: calc(50% + 6px) !important;
}

.ArrowButton:hover {
  opacity: 0.75;
}

:global(.slick-dots li.slick-active button:before) {
  color: var(--text-color);
  opacity: 1;
}

.SliderInvert  :global(.slick-dots li button:before) {
  color: var(--white);
}

.SliderInvert  :global(.slick-dots li.slick-active button:before) {
  color: var(--white);
  opacity: 1;
}

:global(.slick-dots li button:before) {
  font-size: 0.6rem;
  opacity: 0.2;
}