.block {
  background: #F6F6F6;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.container {
  width: 100%;
  max-width: var(--max-content-width);
  padding: 4rem 3.2rem;
  box-sizing: content-box;
}

.title_container {
  display: flex;
  flex-direction: column;
  max-width: 45.5rem;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.6rem;
  line-height: 1.313;
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
}

.slide {
  padding-bottom: 3rem;
  transform: translate(33.333333%, 0);
}

.slide_container {
  padding: 1.2rem;
  margin: 0 0.65rem;
  border: 1px solid #0F0F0E;
  border-radius: 0.65rem;
  display: flex;
  flex-direction: column;
  max-height: 30rem;
}

.link_button {
  margin-bottom: 1rem;
}

.link_button a {
  height: 2.4rem;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: -0.02em;
}

.quote {
  margin-bottom: 0.4rem;
  width: 1.6rem;
  height: 1.6rem;
}

.slider_text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.313;
  letter-spacing: -0.02em;
  color: #282826;
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: pre-wrap;
  display: flex;
}

.author {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3;
  color: #282826;
}

.platform {
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.025em;
  color: #282826;
}

@media (max-width: 1280px) {
  .title_container {
    margin-left: 1rem;
  }
}

@media (max-width: 800px) {
  .title_container {
    box-sizing: border-box;
    margin-bottom: 0.5rem;
  }

  .text {
    font-weight: 600;
    font-size: 1.25rem;
    align-self: stretch;
    margin-bottom: 2.3rem;
  }

  .link_button {
    display: none;
  }

  .quote {
    margin-bottom: 0.35rem;
  }

  .slide {
    transform: translate(0, 0);
  }

  .slider_text {
    font-size: 1.25rem;
    align-self: stretch;
    -webkit-line-clamp: 17;
  }
}
