.BlogContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    border:1px solid var(--border-color);
    border-radius: 2rem;
}
.BlogContainer:hover{
    border:1px solid var(--gray-1);
}
.BlogContainer:first-of-type{
    background: var(--gray-4-);
    color: var(--white);
    border:1px solid var(--border-color);
}
.BlogContainer:first-of-type a{
    color: var(--white);
}
.BlogContainer:first-of-type:hover{
    background: var(--gray-5-);
}
.BlogContainer:first-of-type path{
    fill: #FFFFFF;
}

.BlogContainer header{
    box-sizing: border-box;
    width: 100%;
}
.BlogContainer > div{
    box-sizing: border-box;
    width: 100%;
}
.BlogContainer > div img{
    display: none;
}
.BlogContainer footer{
    box-sizing: border-box;
    width: 100%;
}

@media(min-width: 1000px){
    .BlogContainer header{
        width: 50%;
        padding-right: 1rem;
    }
    .BlogContainer > div{
        width: 50%;
        padding-left: 1rem;
    }
    .BlogContainer footer{
        width: 50%;
        margin-left: 50%;
        padding-left: 1rem;
    }
}

.BlogContainerPost{
    display: flex;
    flex-wrap: wrap;
}

.BlogContainerPost header{
    box-sizing: border-box;
    width: 100%;
}
.BlogContainerPost > div{
    box-sizing: border-box;
    width: 100%;
}
.BlogContainerPost > div > img{
    border-radius: 1rem;
}
.BlogContainer Postfooter{
    box-sizing: border-box;
    width: 100%;
}

@media(min-width: 1000px){
    .BlogContainerPost header{
        width: calc(3/12 * 100%);
        padding-right: 1rem;
    }
    .BlogContainerPost header > div {
        position: sticky; 
        top: 6rem;
    }
    .BlogContainerPost > div{
        width: calc(9/12 * 100%);
        padding-left: 1rem;
    }
    .BlogContainerPost footer{
        width: calc(9/12 * 100%);
        margin-left: calc(3/12 * 100%);
        padding-left: 1rem;
        padding-top: 3rem;
    }
}