.TopBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 0;
}

.Header {
  max-width: 48rem;
}

.Filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.CategorySwitcher {
  display: flex;
  gap: 1rem;
}

@media (max-width: 800px) {
  .TopBlock {
    grid-template-columns: 1fr;
  }

  .Filters {
    grid-template-columns: 1fr;
  }
}
