.Cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.Card {}

.CompanyName {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.625rem;
}

.CardImage {
  position: relative;
  display: block;
  height: 16rem;
  padding: 2rem;
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
}

.CardImage:hover {
  border: 1px solid var(--input-border-color);
  transition: var(--transition-short);
}

.LinkIcon {
  fill: var(--text-color);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: none;
}

.LinkIcon svg {
  width: 1.25rem;
  height: 1.25rem;
}

.CardImage:hover .LinkIcon {
  display: inline-flex;
}

@media (max-width: 800px) {
  .Cards {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}
