.Section {
  padding: 36px 0;
  margin-bottom: 24px;
}

.Content {
  max-width: 1200px;
  margin: auto;
  padding: 0 32px;
}

h2.Title {
  text-align: center;
  margin-bottom: 48px;
}

.Separator {
  margin-top: 48px;
}
