.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200vh;
  max-height: 1595px;
  padding-left: 3.2rem;
  color: #282826;

  background: url('./pictures/fon.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 150%;
}

.fullsize_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
}

.short_container {
  height: 50%;
}

.docs_container {
  font-size: 2rem;
  width: 27.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: -0.04em;
  line-height: 2.4rem;
}

.info_container {
  font-size: 1.6rem;
  width: 1010px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: -0.02em;
  line-height: 2.1rem;
  z-index: 2;
}

.info_container > span:last-child {
  margin-top: 1.75rem;
}

.title {
  color: #188FFF;
}

.text {
  font-size: 1rem;
  margin-top: 0.4rem;
  margin-bottom: 2.4rem;
  line-height: 1.3rem;  
  letter-spacing: -0.025em;
}

.buttons {
  height: 2.4rem;
  display: flex;
}

.buttons > button {
  margin-right: 0.8rem; 
}

.blur {
  backdrop-filter: blur(7.5px);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}