.block {
  background-color: #FFF8E5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5rem 4rem 0 4rem;
  max-width: var(--max-content-width);
  width: 100%;
  box-sizing: content-box;
}

.features_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}

.slider {
  display: none;
}

.feature_block {
  width: 23.313rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.feature_picture {
  width: 18.375rem;
  height: 6.5rem;
  margin-bottom: 1.5rem;
}

.feature_title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.feature_text {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

@media (max-width: 1280px) {
  .container {
    box-sizing: border-box;
    padding: 2.75rem 1rem 2.5rem 1rem;
  }
}

@media (max-width: 800px) {
  .features_title {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: -0.025em;
  }

  .features_container {
    display: none;
  }

  .slider {
    display: block;
  }

  .container {
    box-sizing: border-box;
    padding: 2.75rem 1rem 2.5rem 1rem;
  }

  .feature_title {
    margin-bottom: 0.4rem;
    align-self: stretch;
  }

  .feature_block {
    width: 100%;
    height: 27rem;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .feature_text {
    font-size: 1.25rem;
  }

  .text_container {
    display: flex;
    flex-direction: column;
  }

  .picture_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
