.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
  height: 4.8rem;
  width: 100%;
  max-width: 1280px;
}

.TODO_CHANGE_ME_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 1.25rem;
  width: 6.35rem;
}

.menu_button {
  display: none;
}

.hamburger {
  display: none;
}

.navbar {
  width: calc(100% - 6.35rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  width: 27.5rem;
  justify-content: space-between;
}

.links > a {
  color: #282826;
  text-decoration: none;
}

.functionality {
  display: flex;
}

.functionality > div {
  margin-right: 0.8rem;
}

@media (max-width: 800px) {
  .container {
    display: block;
    height: 100%;
    padding: 0.8rem;
  }

  .menu_button {
    display: block;
    width: 2.4rem;
  }

  .navbar {
    display: none;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 3.4rem);
  }

  .auxiliary {
    display: none;
  }

  .links {
    flex-direction: column;
    /* display: block; */
  }

  .links > a {
    margin-bottom: 1.6rem;
  }

  .functionality {
    width: 100%;
    justify-content: space-between;
  }

  .show {
    margin-top: 1rem;
    display: flex;
  }
}