.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: #282826;
  color: #F6F6F6;
}

.icon {
  width: 32px;
  height: 32px;
}
.icon:first-child {
  margin-right: 15px;
}
.icon:last-child {
  margin-left: 19.5px;
}