.Actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Action {
  font-size: 0.875rem;
  text-decoration: none;
  display: block;
  margin-left: 1rem;
}

.Action:hover {
  opacity: 0.5;
}
