.RequestImprovementButton {
  font-size: 0.875rem;
  background: var(--color-primary);
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.RequestImprovementButton:hover {
  opacity: 0.5;
  text-decoration: none;
  color: #fff;
}
