.link,
.button {
  display: inline-flex;
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
}

.link,
.link:hover,
.link:focus,
.link:visited {
  text-decoration: none;
  color: inherit;
}

.content {
  height: 3rem;
  min-width: 5rem;
  padding: 0 1rem;
  line-height: 1;
  letter-spacing: -0.02em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex: 1;
}

.content:hover {
  cursor: pointer;
  opacity: 0.75;
}

.icon{
  display: inline-block;
  margin: 0 0 0 .5rem;
  width: 16px;
  height: 16px;
}

.regular {
  color: var(--text-color);
  background-color: #fff;
  border: 1px solid var(--text-color);
  text-decoration: none !important;
}

.action {
  background-color: var(--text-color);
  color: #fff;
  border: 1px solid var(--text-color);
  text-decoration: none !important;
}


.negative{
  background-color: var(--text-color);
  color: #fff;
  border: 1px solid #FFF;
  text-decoration: none !important;
}
.negativefull{
  background-color: #FFF;
  color: var(--text-color);
  border: 1px solid #FFF;
  text-decoration: none !important;
}

.clean{
  background-color: transparent;
  color: var(--text-color);
  border: none !important;
  text-decoration: none !important;
}

.cleanInvert{
  background-color: transparent;
  color: var(--white);
  border: none !important;
  text-decoration: none !important;
}

.transparentWhite{
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  text-decoration: none !important;
}

.transparentBlack{
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  text-decoration: none !important;
}

