.link,
.button {
  display: inline-flex;
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
}

.link,
.link:hover,
.link:focus,
.link:visited {
  text-decoration: none;
  color: inherit;
}

.content {
  height: 3rem;
  min-width: 5rem;
  padding: 0 1rem;
  line-height: 1;
  letter-spacing: -0.02em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex: 1;
}

.content:hover {
  cursor: pointer;
  opacity: 0.5;
}

.regular {
  color: var(--text-color);
  background-color: #fff;
  border: 1px solid var(--text-color);
}

.action {
  background-color: var(--text-color);
  color: #fff;
  border: 1px solid var(--text-color);
}


