.slider {
  width: 100%;
  max-width: 1280px;
  height: 680px;
}

.slide_container {
  padding: 1.2rem;
  margin: 0 0.9rem;
  border: 1px solid #0F0F0E;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  max-height: 665px;
}

.quote {
  width: 2rem;
  height: 2rem;
}

.text {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: -0.02em;
  color: #282826;
  max-height: 21rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #282826;
}

.platform {
  font-size: 1rem;
  line-height: 1.3rem;
  letter-spacing: -0.025em;
  color: #282826;
}