.BlogHeader {
    margin: 0 auto;
    width: calc(100% - 1rem);
    max-width: var(--max-content-width);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .BlogHeader {
    padding: 6rem 0;
    line-height: 3rem;
  }
  
  .BlogHeader h1{
    font-size: 40px;
    line-height: 48px;
    color: var(--primary-0);
    font-weight: 400;
    margin: 0;
    max-width: 35rem;
  }
  
  .BlogHeader p {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    max-width: 42rem;
  }