.SineWavesAnimation {
  position: relative;
  transform: translate(20%, 50%);

  animation: sineWavesAnimationFadeIn 1s ease-in-out;
}

.SineWavesAnimation::before {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  right: 100%;
  top: -2px;
  width: 100%;
  background-color: #198fff;
}

.Canvas {
  transform: translate(0, -50%);
}

@keyframes sineWavesAnimationFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
