.SineWavesAnimation {
  position: relative;
  transform: translate(20%, 50%);
}

.SineWavesAnimation::before {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  right: 100%;
  top: -2px;
  width: 100%;
  background-color: #198fff;
}

.Canvas {
  transform: translate(0, -50%);
}
