.block {
  background-color: #FFF8E5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 80px 64px 0px 64px;
}

.features_title {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #188FFF;
  margin-bottom: 64px;
}

.features_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature_block {
  width: 375px;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.feature_picture {
  height: 130px;
  margin-bottom: 24px;
}

.feature_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  height: 52px;
  margin-bottom: 8px;
}

.feature_text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}