.block {
  width: 100%;
  background: #0F0F0E;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 1.6rem 3.2rem 3.2rem 3.2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #4E4D49;
  margin-bottom: 0.8rem;
}

.row:last-child {
  border-bottom: none;
  margin-bottom: 0rem;
}

.first_row {
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: -0.02em;
}

.first_row_links > a {
  color: #FFFFFF;
  margin-bottom: 0.8rem;
}
.first_row_links > a:last-child {
  margin-bottom: 0rem;
}

.second_rod {
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 0.9rem;
  color: #989792;
}

.column {
  width: 15rem;
}

.links_columns {
  display: flex;
  justify-content: space-between;
}

.links_column {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.external_links {
  display: flex;
  justify-content: space-between;
}

.external_links > a {
  color: #FFFFFF;
}

.logo_pulsar {
  width: 6.35rem;
}

.logo_slack {
  width: 1.266rem;
  height: 1.266rem;
}

.logo_github {
  width: 1.3335rem;
  height: 1.3335rem;
}

.logo_feather {
  width: 1rem;
  height: 1.8rem;
}

.second_row_links {
  display: flex;
  align-items: center;
}

.second_row_links > a {
  color: #989792;
}

@media (max-width: 800px) {
  .container {
    padding: 0.8rem;
  }

  .column {
    width: 45%;
  }

  .column:first-child {
    display: none;
  }

  .row:last-child {
    padding-bottom: 0;
  }
}