.logo_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logo_box {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-size: 150%;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: auto;
}

.logo_black_background {
  background-color: #0f1637;
  /* height: 120px; */
  padding: 20px;
}

.logo_svg {
  min-width: 200px;
}