.button {
  padding: 16px;
  margin-right: 16px;
  border: 1px solid #282826;
  border-radius: 16px;
  cursor: pointer;
  color: #282826;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.button:hover {
  color: #282826;
}

.filled_button {
  background-color: #282826;
  color: white;
}

.filled_button:hover {
  color: white;
}