.button {
  padding: 0.8rem 0.925rem;
  height: 2.4rem;
  box-sizing: border-box;
  border: 1px solid #282826;
  border-radius: 0.8rem;
  cursor: pointer;
  color: #282826;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 0.7rem;
  letter-spacing: -0.02em;
}

.button:hover {
  text-decoration: none;
}

.filled_button {
  background-color: #282826;
  color: white;
}

.filled_button:hover {
  color: white;
  opacity: 0.8;
}

.unfilled_button:hover {
  color: #282826;
  opacity: 0.5;
}

@media (max-width: 800px) {}