.HowPulsarWorks {
  background-color: #fff;
  padding-bottom: 6rem;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  width: 100%;
  max-width: var(--max-content-width);
  padding: 4rem 3.2rem;
  box-sizing: content-box;
}

@media (max-width: 1280px) {
  .Container {
    padding: 2.75rem 1rem 1.5rem 1rem;
  }
}

.IllustrationDesktop {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.IllustrationMobile {
  display: none;

  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 4rem;
  margin-bottom: -2rem;
}

.CardImage {
}

.CardImage svg {
  height: 2rem;
  width: auto;
}

.CardsDesktop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.CardsMobile {
  width: calc(100vw - 4rem);
  padding: 4rem 0;
  overflow: hidden;
  display: none;
}

@media (max-width: 800px) {
  .HowPulsarWorks {
    padding-bottom: 0;
  }

  .CardsDesktop {
    display: none;
  }

  .CardsMobile {
    display: block;
  }

  .IllustrationDesktop {
    display: none;
  }

  .IllustrationMobile {
    display: block;
  }
}
