.HowPulsarWorks {
  background-color: #fff;
  padding-bottom: 6rem;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  width: 100%;
  max-width: var(--max-content-width);
  padding: 4rem 3.2rem;
  box-sizing: content-box;
}

@media (max-width: 1280px) {
  .Container {
    padding: 2.75rem 1rem 2.5rem 1rem;
  }
}

.Illustration {
  margin-top: 2rem;
  margin-bottom: -4rem;
}

.CardImage {
}

.CardImage svg {
  height: 2rem;
  width: auto;
}

.CardsDesktop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.CardsMobile {
  width: calc(100vw - 4rem);
  padding: 4rem 0;
  overflow: hidden;
  display: none;
}

@media (max-width: 800px) {
  .CardsDesktop {
    display: none;
  }

  .CardsMobile {
    display: block;
  }
}
