.ActionButton,
a.ActionButton {
  appearance: none;
  color: var(--text-color);
  border: 0;
  padding: 0.85rem 3rem;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #eee;
  font-size: var(--font-size-medium-text);
  line-height: 1;
  text-align: center;
  transition: none;
  text-decoration: none;
  white-space: nowrap;
}

.ActionButton:hover,
a.ActionButton:hover {
  cursor: pointer;
  filter: brightness(92%);
}

.ActionButton.Primary,
a.ActionButton.Primary {
  background-color: var(--color-primary);
  color: #fff;
}

@media (max-width: 1000px) {
  .ActionButton,
  a.ActionButton {
    font-size: var(--font-size-regular-text);
  }
}
