.ContentCard {
  display: flex;
}

.NormalImage {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  display: block;
  margin-right: 24px;
}

.BigImage {
  flex: 0 0 160px;
  width: 160px;
  height: 160px;
  display: block;
  margin-right: 48px;
}
