.Cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}

.Card {
  padding: 0;
  color: var(--text-color);
}

.Card:hover {
  text-decoration: none;
  color: initial;
  opacity: 0.75;
}

.CardImage {
  height: 20rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .Cards {
    grid-template-columns: 1fr;
  }
}
