.link {
  display: inline-block;
  position: relative;
  color: #282826;
  text-decoration: none;
}
.link:hover {
  color: #282826;
  text-decoration: none;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #282826;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}