.Link {
  display: inline-flex;
  align-items: center;
  color: var(--color-primary);
}

.Link.isDark {
  color: var(--color-primary-dark);
}

.Icon {
  width: 1rem;
  height: 1rem;
  fill: var(--color-primary);
  margin-left: 0.3ch;
  position: relative;
  top: 1px;
}
