.UseCasesPage{
    margin: 0 auto;
    width: calc(100% - 1rem);
    max-width: var(--max-content-width);
    display: flex;
    flex-wrap: wrap;
}
.UseCasesPageSidebar, .UseCasesPageContent, .UseCasesPageHeader {
    width: 100%;
}
.UseCasesPageHeader {
    background: var(--yellow-5);
    padding: 5rem 0;
}
.UseCasesPageSidebar{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    overflow-x: scroll;
    width: 100%;
    height: 6rem;
    position: relative;
    white-space: nowrap;
}
.UseCasesPageSidebar > div{
    width: auto;
    position: absolute;
    left: 0;
    top: 1.5rem;
}
.UseCasesPageCaseLink {
    color: var(--text-color);
    display: inline-block;
    padding: .5rem 1rem;
    background-color: transparent;
    border-radius: 1rem;
}
.UseCasesPageCaseLink.active {
    background-color: var(--gray-5);
}
.UseCasesPageHeader > div{
    margin: 0 auto;
    width: calc(100% - 1rem);
    max-width: var(--max-content-width);
    margin-bottom: 1rem;
}
.UseCasesPageHeader h1, .UseCasesPageHeader h2{
    font-size: 1.5rem;
    line-height: 1.65rem;
    font-weight: 400;
}
.UseCasesPageHeader h1{
    color: var(--primary-0);
}
.UseCasesPageContent{
    margin-bottom: 6rem;
}
.UseCasesPageCase{
    margin-top: 0;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

@media(min-width: 1000px){
    .UseCasesPageHeader {
        padding: 10rem 0;
    }
    .UseCasesPageHeader h1, .UseCasesPageHeader h2{
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    .UseCasesPageSidebar {
        overflow-x: unset;
        width: calc(4/12 * 100%);
        padding-top: 7rem;
        height: auto;
        white-space: unset;
        box-sizing: border-box;
        padding-right: 1.5rem;
    }
    .UseCasesPageSidebar > div {
        position: sticky; 
        top: 6rem;
    }
    .UseCasesPageCaseLink {
        margin-right: unset;
        display: block;
        margin-right: 1.5rem;
        text-decoration: none;
    }
    .UseCasesPageCaseLink:hover {
        text-decoration: none;
    }
    .UseCasesPageContent {
        width: calc(8/12 * 100%);
    }
    .UseCasesPageHeader h1, .UseCasesPageHeader h2{
        width: calc(7/12 * 100%);
    }
}