.Header {
  padding: 2rem 0;
  max-width: 48rem;
}

.Filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .Filters {
    grid-template-columns: 1fr;
  }
}

