:root,
:host {
  --docusaurus-announcement-bar-height: 50px !important;
}

div[class^="announcementBar"][role="banner"] {
  height: 3rem;
  display: flex;
  justify-content: center;
}

div[class^="announcementBar"][role="banner"]:hover {
  cursor: pointer;
  opacity: 0.8;
}

div[class^="announcementBar"][role="banner"] a:hover {
  filter: brightness(92%);
}

div[class^="announcementBar"][role="banner"] div[class*="announcementBarContent"] {
  height: 100%;
  padding: 0;
  display: flex;
}

div[class^="announcementBar"][role="banner"] .announcement-bar {
  text-decoration: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

div[class^="announcementBar"][role="banner"] .announcement-bar__content {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.4rem;
  background-color: #282826;
  color: #f6f6f6;
}

div[class^="announcementBar"][role="banner"] .announcement-bar:hover {
  color: #f6f6f6;
  text-decoration: none;
  opacity: 0.8;
}

div[class^="announcementBar"][role="banner"] .announcement-bar__icon {
  width: 1.6rem;
  height: 1.6rem;
  padding: 1px; /* Fix icon crop in Safari */
}

div[class^="announcementBar"][role="banner"]
  .announcement-bar__icon:first-child {
  margin-right: 1rem;
}

div[class^="announcementBar"][role="banner"]
  .announcement-bar__icon:last-child {
  margin-left: 1rem;
}

@media (max-width: 480px) {
  div[class^="announcementBar"][role="banner"] .announcement-bar {
    font-size: 0.75rem;
  }
}
