div[class^='announcementBar'][role="banner"] {
  height: 50px;
  font-size: 1.1rem;
  padding: 0 1rem;
}

div[class^='announcementBar'] a {
  font-weight: bold;
  text-decoration: none;
  color: var(--color-primary);
  padding: 0.2rem 1rem;
  background-color: #fff;
  border-radius: 999px;
}
