.BaseTable {
  background-color: transparent !important;
}

.BaseTable__table {
  background-color: transparent !important;
}

.BaseTable__table-main {
  outline: 1px solid rgb(209 213 219) !important;
}

.BaseTable__row {
  background-color: transparent !important;
  border-bottom: 0px solid rgb(209 213 219) !important;
}

.BaseTable__header {
  background-color: transparent !important;
}

.BaseTable__header-row {
  background-color: transparent !important;
  border-bottom: 1px solid rgb(209 213 219) !important;
}

.BaseTable__row-cell {
  border-bottom: 1px solid rgb(209 213 219);
}
