.blog-pagination-nav{
    display: block;
}

.blog-pagination-nav a {
    display: inline-block;
    color: var(--text-color);
    border-radius: 1rem;
    margin-right: .5rem;
}

.blog-post-pagination-nav a {
    color: var(--text-color);
    border-radius: 1rem;
}