[class*="docs-doc-page"] .menu__link {
  font-weight: 400 !important;
}

[class*="docs-doc-page"] .navbar__link {
  font-weight: 400 !important;
  font-size: 1rem;
}

[class*="docs-doc-page"] .alert {
  box-shadow: none !important;
}

/* Use same blue color for NOTE admonition as for INFO */
[class*="docs-doc-page"] .alert--secondary {
  --ifm-alert-background-color: var( --ifm-color-info-contrast-background );
  --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
  --ifm-alert-foreground-color: var( --ifm-color-info-contrast-foreground );
  --ifm-alert-border-color: var(--ifm-color-info-dark);
}

.menu__caret::before,
.menu__link--sublist-caret:after {
  content: '';
  background-size: 1.4rem 1.4rem;
}

.pagination-nav__link {
  border-color: var(--border-color) !important;
}

.pagination-nav__link:hover {
  opacity: 0.75;
}
