:root,
:host {
  --ifm-footer-background-color: #fff;
}

footer.footer {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  position: relative;
  z-index: 1; /* Fix home page's first screen parallax overlap. */
}

footer.footer .container {
  position: relative;
  display: block;
  padding: 0;
  max-width: var(--max-content-width);
}
footer.footer .footer__bottom:before {
  content: " ";
  display: table;
}
footer.footer .footer__bottom:after {
  clear: both;
}

footer.footer .footer__link-item svg {
  display: none;
}
footer.footer .margin-bottom--sm {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
}
footer.footer .margin-bottom--sm a {
  opacity: 1 !important;
}
footer.footer .footer__logo {
  margin-top: 0px;
}
.footer__logo {
  max-width: 7.938rem;
}

footer.footer .footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid #4E4D49;
  text-align: left;
  color: #ccc;
  font-size: 0.85rem;
}
.footer__copyright div, .footer__copyright p {
  max-width: 23.5%;
  color: rgba(152, 151, 146, 1);
}
.footer__copyright div {
  display: flex;
  align-items: center;
  height: fit-content;
  font-size: 1rem;
}
.footer__copyright div img {
  margin-right: 0.625rem;
}
.footer__copyright p {
  font-size: 0.75rem;
  font-weight: 500;
}
footer.footer .footer__col .footer__title {
  display: none;
}
.footer__col:last-child {
  text-align: right;
}
.footer__col:last-child a:last-child {
  margin-left: 0.917rem;
}
footer.footer .row.footer__links {
  display: flex;
  position: relative;
  padding-left: 40%;
  text-align: left;
  margin-bottom: 2.5rem;
}
.footer__link-item {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-color-dark);
}
.footer__link-item:hover {
  color: var(--text-color-dark);
}
footer.footer .footer__links .footer__col:first-child .footer__items {
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 996px) {
  .footer {
    padding: 1rem;
  }
  .footer__col {
    margin: 0;
  }
  .footer__copyright {
    flex-direction: column;
  }
  .footer__copyright div, .footer__copyright p {
    max-width: 100%;
  }
}
