footer .container {
  position: relative;
  display: block;
}
footer .footer__bottom:before {
  content: " ";
  display: table;
}
footer .footer__bottom:after {
  clear: both;
}

.footer__items {
  display: flex;
}
.footer__link-item {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
.footer__link-item svg {
  display: none;
}
footer .margin-bottom--sm {
  position: absolute;
  left: 20px;
  top: 0;
  text-align: left;
}
footer .margin-bottom--sm a {
  opacity: 1 !important;
}
.footer__logo {
  margin-top: 0px;
}
.footer__item,
.footer__link-item {
  color: #fff;
}
footer .footer__copyright {
  float: right;
  width: 66.66%;
  text-align: left;
  font-size: 0.8rem;
  color: #ccc;
  font-size: 14px;
}
.footer__col .footer__title {
  display: none;
}
footer .row.footer__links {
  position: relative;
  padding-left: 33.33%;
  text-align: left;
  margin-bottom: 20px;
  display: block;
}
.footer__links .footer__col:first-child .footer__items {
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  :root {
    --ifm-font-size-base: 16px;
  }
  footer .row.footer__links {
    padding-left: 0;
    top: 50px;
  }
  footer .footer__copyright {
    float: none;
    width: 100%;
  }
  .footer__item {
    padding-right: 15px;
  }
  .row.footer__links .footer__col:first-child .footer__items {
    display: block;
    column-count: 2;
    padding-left: 40px;
  }
  .row.footer__links
    .footer__col:first-child
    .footer__items
    .footer__item:first-child {
    position: absolute;
    left: 20px;
    top: 0;
  }
  .row.footer__links .footer__col:first-child .footer-items .footer__item {
    display: inline-block;
  }
  .rn-tabs.tabs {
    display: block;
  }
  .rl-aside {
    display: block;
    width: 100%;
  }
  .TabsUnstyled-horizontal .rl-aside {
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .TabsUnstyled-horizontal .rl-aside button {
    display: inline-block;
    width: auto;
 
 }
}