:root,
:host {
  --ifm-navbar-background-color: #fff;
  --ifm-navbar-link-color: var(--primary-color);
  --ifm-navbar-shadow: none;
  --ifm-navbar-height: 6rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: var(--max-content-width);
}

.navbar__item {
  white-space: nowrap;
}

.navbar__link {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
}

.navbar__link:after {
  font-size: 1rem;
  margin-left: 0.4rem !important;
}

.navbar__item .dropdown__link {
  font-size: 1rem;
  font-weight: 400;
}

.navbar__items:first-of-type .navbar__item:first-of-type {
  margin-left: 8%;
}

.navbar__logo img {
  width: auto;
  height: 1.875rem;
}

.navbar__items--right {
  flex-direction: row-reverse;
}

.pill-btn {
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0.8rem;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 1rem;
  line-height: 1;
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
}
.pill-btn:hover {
  opacity: 0.5;
}

.navbar-download-button {
  color: var(--color-primary);
  font-weight: bold;
  margin-right: 0.7rem;
}

.DocSearch-Button-Keys {
  display: inline-flex !important;
  align-items: center !important;
}

.DocSearch-Button-Key {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font-family: Helvetica !important;
  margin-right: 0 !important;
  top: 0 !important;
  font-size: 1.1rem !important;
  color: #989792 !important;
}

.DocSearch-Button {
  padding: 1rem !important;
  width: 13.75rem;
  height: 3rem !important;
  border: 1px solid var(--text-color) !important;
  border-radius: 1rem !important;
  font-size: 1rem !important;
  background-color: transparent !important;
}
.DocSearch-Button:hover {
  cursor: text;
  box-shadow: none !important;
}
.DocSearch-Button-Placeholder {
  font-size: 1rem !important;
  color: rgba(152, 151, 146, 1);
}

@media (max-width: 1280px) {
  .navbar__logo img {
    display: none !important;
  }

  .navbar__items:first-of-type .navbar__item:first-of-type {
    margin-left: -2rem;
  }
}

@media (max-width: 996px) {
  .navbar__logo img {
    display: initial !important;
  }
  .navbar__toggle {
    position: absolute;
    right: 0.5rem;
  }
  .DocSearch-Button {
    display: none !important;
  }
  .download-btn {
    display: none;
  }
  .navbar-sidebar .download-btn {
    display: inline-flex;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
}
