:root,
:host {
  --ifm-navbar-background-color: #fff;
  --ifm-navbar-link-color: var(--primary-color);
  --ifm-navbar-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  --ifm-navbar-height: 62px;
}

.navbar-github-link {
  position: relative;
  top: 0.2rem;
  padding: 0;
}

.navbar-sidebar .navbar-github-link {
  margin-left: 1rem;
}

.navbar-github-link:hover {
  opacity: 0.8;
}

.navbar-github-link [class^="iconExternalLink"] {
  display: none;
}

.navbar-download-button {
  color: var(--color-primary);
  font-weight: bold;
  margin-right: 0.7rem;
}
