:root,
:host {
  --ifm-navbar-background-color: #fff;
  --ifm-navbar-link-color: var(--primary-color);
  --ifm-navbar-shadow: none;
  --ifm-navbar-height: 6rem;
  --ifm-dropdown-hover-background-color: var(--surface-color);
  --ifm-menu-link-padding-horizontal: 1rem;
}

.navbar {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.navbar__logo{
  margin-right: 2rem;
}

.navbar__inner {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  max-width: var(--max-content-width) !important;
}

.menu__list-item-collapsible {
  border-radius: 0 !important;
}

.navbar .navbar__item {
  display: inline-flex !important;
  align-items: center;
  white-space: nowrap !important;
}

.navbar .navbar__link {
  font-size: 1.25rem !important;
  font-weight: 400 !important;
  line-height: 1 !important;
}

.navbar .navbar__link:after {
  font-size: 1rem !important;
  margin-left: 0.4rem !important;
}

.navbar .navbar__item .dropdown__link {
  font-size: 1rem !important;
  font-weight: 500 !important;
  display: flex !important;
  align-items: center !important;
  padding: 0.75rem 1rem !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.navbar .dropdown > .navbar__link:after {
  content: "" !important;
  border: none !important;
  width: 1rem !important;
  height: 1rem !important;
  background-image: url(../../static/assets/menu-chevron-down.svg) !important;
  background-repeat: no-repeat !important;
  transform: translate(0, 0) !important; /* Fix vertical centering. */
}

.navbar .menu__link {
  font-weight: 600 !important;
  font-size: 1.25rem !important;
  color: var(--text-color) !important;
  border-radius: 0 !important;
  padding: 0.75rem 1rem !important;
}

.navbar .menu__link:hover {
  color: var(--text-color) !important;
}

.navbar .menu__link,
.navbar .menu__caret {
  border-radius: 0 !important;
}

.navbar .menu__caret:before,
.navbar .menu__link--sublist-caret:after {
  content: "" !important;
  border: none !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  background: unset !important;
  background-image: url(../../static/assets/menu-chevron-down-small.svg) !important;
  background-repeat: no-repeat !important;
  scale: -1 !important;
}

.navbar .menu__list {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.navbar .menu__list .menu__list {
  padding-left: 0rem !important;
  margin-top: 0 !important;
}

.navbar .menu__list-item:not(:first-child) {
  margin-top: 0 !important;
}

.navbar .menu__list .menu__list .menu__link {
  font-weight: 400 !important;
}

.navbar .dropdown__menu {
  padding: 0 !important;
  border-radius: 1rem !important;
  overflow: hidden !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25) !important;
}

.navbar-sidebar__item {
  padding: 0 !important;
}

.navbar-sidebar__close {
  position: relative !important;
}

.navbar-sidebar__close > svg {
  display: none !important;
}

.navbar-sidebar__close::after {
  content: "" !important;
  background-image: url(../../static/assets/menu-close.svg) !important;
  background-repeat: no-repeat !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.navbar__items:first-of-type .navbar__item:first-of-type {
  margin-left: 10% !important;
}

.navbar__items--right {
  flex-direction: row-reverse !important;
}

.navbar .navbar_download_button {
  background-color: var(--ifm-color-primary) !important;
  color: #fff !important;
  padding: 6px 24px !important;
  font-weight: 500 !important;
  justify-content: center !important;
  white-space: nowrap !important;
  background-color: var(--text-color) !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0.8rem !important;
  padding: 0 1rem !important;
  height: 3rem !important;
  border-radius: 1rem !important;
  line-height: 1 !important;
  align-items: center !important;
  display: inline-flex !important;
  font-size: 1rem !important;
}

.navbar .navbar_download_button:hover {
  background-color: var(--text-color) !important;
  opacity: 0.75 !important;
}

.navbar .navbar-sidebar__back {
  padding: 1rem 1rem !important;
  margin-bottom: 0 !important;
  top: 0 !important;
}

.DocSearch-Button-Keys {
  display: inline-flex !important;
  align-items: center !important;
}

.DocSearch-Button-Key {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font-family: Helvetica !important;
  margin-right: 0 !important;
  top: 0 !important;
  font-size: 1.1rem !important;
  color: #989792 !important;
}

.DocSearch-Button {
  padding: 1rem !important;
  width: 13.75rem !important;
  height: 3rem !important;
  border: 1px solid var(--text-color) !important;
  border-radius: 1rem !important;
  font-size: 1rem !important;
  background-color: transparent !important;
}
.DocSearch-Button:hover {
  cursor: text !important;
  box-shadow: none !important;
}
.DocSearch-Button-Placeholder {
  font-size: 1rem !important;
  color: rgba(152, 151, 146, 1) !important;
}

.sidebarVersionSwitch_src-theme-DocSidebar-Desktop-styles-module,
.sidebarVersionSwitch_src-theme-DocSidebar-Mobile-styles-module {
  border: 1px solid var(--text-color) !important;
}

@media (max-width: 1280px) {
  .navbar_download_button {
    display: none !important;
  }

  .DocSearch-Button {
    padding: 1rem !important;
    height: 3rem !important;
    font-size: 1rem !important;
    background-color: transparent !important;
    width: auto !important;
    border: none !important;
  }

  .DocSearch-Button-Keys,
  .DocSearch-Button-Placeholder {
    display: none !important;
  }
}

@media (max-width: 996px) {
  .navbar__logo img {
    display: initial !important;
  }

  .navbar__toggle {
    position: absolute !important;
    right: 0.5rem !important;
  }

  [class^="navbarSearchContainer_"] {
    right: 3rem !important;
  }

  .navbar .navbar__item {
    display: none !important;
  }

  .navbar .navbar_download_button {
    display: none !important;
  }

  .navbar-sidebar .navbar_download_button {
    display: inline-flex !important;
    margin-top: 1rem !important;
    margin-left: 0.5rem !important;
  }

  .navbar-sidebar .menu__list-item:has(> .navbar_download_button) {
    margin-top: auto !important;
    margin-bottom: 2rem !important;
  }
}
