@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/work-sans/work-sans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/work-sans/work-sans.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/work-sans/work-sans.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/inter.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/inter/inter.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/inter/inter.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: "Work Sans", -apple-system, Frutiger, "Frutiger Linotype",
    Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad,
    "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva,
    "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.LandingPage {
  font-size: 18px;
  line-height: 1.625;
}

[class*="docPage"] {
  /* The "Inter" font is more readable for docs that the "Work Sans" */
  font-family: Inter, "Work Sans", -apple-system, Frutiger, "Frutiger Linotype",
    Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad,
    "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 600;
}

blockquote {
  border-color: var(--border-color) !important;
}
