@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
  font-family: "Work Sans", -apple-system, Frutiger, "Frutiger Linotype",
    Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad,
    "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva,
    "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
}

h3, h4, h5, h6 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 600;
}
