:root,
:host {
  --text-size: 1.125rem;
  --text-color: #282826;
  --text-color-dark: #fff;
  --background-color-dark: #0F0F0E;
  --background-color: #fff;

  --color-primary: #0071e3;
  --color-primary-dark: #2997ff;

  --border-color: #ddd;
  --input-border-color: var(--text-color);
  --border-color-focused: var(--color-primary-dark);

  --surface-color: #f6f6f6;

  --max-content-width: 1280px;
  --max-readable-content-width: 800px;

  --font-size-small-text: 0.7rem;
  --font-size-regular-text: 1rem;
  --font-size-medium-text: 1.25rem;
  --font-size-big-text: 1.7rem;

  /* Infima (with --ifm- prefixed vars) is a CSS framework that Docusaurus uses by default.
     https://github.com/facebook/docusaurus/issues/3955
  */
  --ifm-font-family-base: inherit;
  --ifm-color-primary: var(--color-primary);
  --ifm-color-primary-dark: #1379da;
  --ifm-color-primary-darker: #0e65b6;
  --ifm-color-primary-darkest: #084a88;
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-color-emphasis-300: var(--surface-color);
  --ifm-code-font-size: 95%;
  --ifm-hover-overlay: var(--surface-color);
  --ifm-container-width: calc(var(--max-content-width) + 2rem);
  --ifm-container-width-xl: calc(var(--max-content-width) + 2rem);
  --ifm-hero-background-color: #fff;
  --bg-dark-grey: #464e56;
  --ifm-h1-font-size: 2rem;
  --ifm-table-stripe-background: var(--surface-color);
  --ifm-alert-background-color: var(--surface-color);
  --ifm-alert-border-color: var(--border-color);

  color: var(--text-color);
}
