RewriteEngine On

RewriteRule "^en/(.+)$" "/$1" [R=301,DPI,L]
RewriteRule "^docs/en/(.+)$" "/docs/$1" [R=301,DPI,L]
RewriteRule "^docs/(zh-CN|zh-TW|ja|ko|fr)/(.+)$" "/$1/docs/$2" [R=301,DPI,L]
RewriteRule "^(zh-CN|zh-TW|ja|ko|fr)/docs/(.+)$" "/docs/$2" [R=301,DPI,L]
RewriteRule "^docs$" "/docs/" [R=301,DPI,L]
RewriteRule "^docs/(.+)-incubating/(.+)$" "https://pulsar.staged.apache.org/docs/$1-incubating/$2" [R=301,DPI,L]

# Skip if file exists
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteRule "^docs/develop-binary-protocol$" "/docs/developing-binary-protocol/" [R=301,DPI,END]
RewriteRule "^docs/develop-binary-protocol/$" "/docs/developing-binary-protocol/" [R=301,DPI,END]
RewriteRule "^docs/(.+)/develop-binary-protocol$" "/docs/$1/developing-binary-protocol/" [R=301,DPI,END]
RewriteRule "^docs/(.+)/develop-binary-protocol/$" "/docs/$1/developing-binary-protocol/" [R=301,DPI,END]
