.block {
  background: #FFFFFF;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-bottom: 1.2rem;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 4rem 3.2rem;
  box-sizing: content-box;
}

.title_container {
  display: flex;
  flex-direction: column;
  width: 770px;
  margin-bottom: 2.5rem;
}

.title {
  color: #188FFF;
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: -0.02em;
}

.text {
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: -0.02em;
  margin-bottom: 2.3rem;
}

.slider {
  width: 100%;
  max-width: 1280px;
  height: 680px;
}

.slide {
  padding-bottom: 3.75rem;
}

.slide_container {
  padding: 1.2rem;
  margin: 0 0.8rem;
  border: 1px solid #0F0F0E;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  max-height: 665px;
}

.quote {
  width: 2rem;
  height: 2rem;
}

.slider_text {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: -0.02em;
  color: #282826;
  max-height: 21rem;
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

.author {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #282826;
}

.platform {
  font-size: 1rem;
  line-height: 1.3rem;
  letter-spacing: -0.025em;
  color: #282826;
}

@media (max-width: 800px) {
  .title_container {
    padding: 0.8rem;
    box-sizing: border-box;
  }

  .title {
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: -0.025em;
  }

  .text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3rem;
    align-self: stretch;
  }

  .link_button {
    display: none;
  }

  .quote {
    margin-bottom: 0.35rem;
  }

  .slider_text {
    font-size: 0.8rem;
    line-height: 1.2rem;
    align-self: stretch;
    -webkit-line-clamp: 17;
  }



}