.block {
  width: 100%;
  background: #0F0F0E;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 32px 64px 64px 64px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 1px solid #4E4D49;
  margin-bottom: 16px;
}

.row:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.first_row {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.first_row_links > a {
  color: #FFFFFF;
  margin-bottom: 16px;
}
.first_row_links > a:last-child {
  margin-bottom: 0px;
}

.second_row {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.second_row_links > a {
  color: #B0AFAB;
  margin-bottom: 16px;
}

.second_row_links > a:last-child {
  margin-bottom: 0px;
}

.third_row {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #989792;
}

.column {
  width: 300px;
}

.links_columns {
  display: flex;
  justify-content: space-between;
}

.links_column {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.external_links {
  display: flex;
  justify-content: flex-end;
}

.logo_pulsar {
  width: 127px;
}

.logo_slack {
  width: 25.33px;
  height: 25.33px;
}

.logo_github {
  width: 26.67px;
  height: 26.67px;
}

.logo_feather {
  width: 20px;
  height: 36px;
}

.text_with_image_container {
  display: flex;
  align-items: center;
}
