.Card {
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: 1.375rem;
  }
  .Card :global(a) {
    color: inherit;
    text-decoration: underline;
  }
  
  .Card :global(h3) {
    font-size: inherit !important;
  }
  
  .Card :global(p:last-child) {
    margin-bottom: 0;
  }
  
  .Columns,
  .ShowMoreColumns {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
    gap: 2rem;
  }
  
  @media(min-width: 1000px){
    .Columns,
    .ShowMoreColumns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex: 1;
      gap: 2rem;
    }
  }
  
  .LeftColumn,
  .RightColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .ShowMoreButton {
    border: none;
    background-color: transparent;
    display: inline-flex;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    flex: 0 1 auto;
  }
  
  .ShowMoreButton:hover {
    opacity: 0.75;
    cursor: pointer;
  }
  
  .ShowMore {
    margin-top: 1rem;
  }
  