.WhatIsPulsar {
  min-height: 100vh;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  position: relative;
  padding: 0 2rem;
  padding-bottom: 8rem;
}

@media (max-width: 1000px) {
  .WhatIsPulsar {
    padding-bottom: 0;
  }
}

.Content {
  max-width: var(--max-content-width);
  margin: auto;
  padding: 5rem 0;
  position: relative;
  z-index: 1;
}

.ReadableContent {
  max-width: var(--max-readable-content-width);
}

.Description {
  font-size: var(--font-size-medium-text);
  margin-bottom: 4rem;
}

.Paragraph {
  font-size: var(--font-size-medium-text);
  margin-bottom: 1rem;
}

.Section {
  margin-bottom: 4rem;
}

.CompanyLogos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: -0.25rem;
}

.CompanyLogo {
  fill: #fff;
  height: 2.8rem;
  width: auto;
  margin-bottom: 2rem;
  margin-right: 1rem;
  opacity: 0.5;
}

.WavesBackground {
  position: absolute;
  left: 0;
  right: 0;

  width: 100%; /* Safari fix */
  bottom: -1px; /* Safari fix */

  fill: #fff;
}
