.ContributeDataDrivenPage {
  background-color: var(--text-color);
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.25rem 1rem;
  font-size: 14px;
  display: inline-block;
}

.ContributeDataDrivenPage:hover {
  color: #fff;
  text-decoration: underline;
}
