.Page {
  position: relative;
  background: #fff;
}

.OtherScreens {
  position: relative;
  z-index: 1; /* Fix first screen overlap */
}

.Background {
  position: fixed;
  top: 0;
  height: 200vh;
  width: 100vw;
  pointer-events: none;

  background-image: url('./img/background.svg');
  background-repeat: no-repeat;
  z-index: 1;
}

@media (orientation: landscape) and (min-width: 1001px) {
  .Background {
    background-position: 30% calc(15% + var(--ifm-navbar-height) + var(--docusaurus-announcement-bar-height));
    background-size: 140%;
  }
}

@media (orientation: landscape) and (max-width: 1000px) {
  .Background {
    background-position: 50% calc(0% + var(--ifm-navbar-height) + var(--docusaurus-announcement-bar-height));
    background-size: 200%;
  }
}

@media (orientation: portrait) and (min-width: 1001px) {
  .Background {
    background-position: 57% calc(-25% + var(--ifm-navbar-height) + var(--docusaurus-announcement-bar-height));
    background-size: 200%;
  }
}

@media (orientation: portrait) and (max-width: 1000px) {
  .Background {
    background-position: 57% calc(50% + var(--ifm-navbar-height) + var(--docusaurus-announcement-bar-height));
    background-size: 200%;
  }
}

@media (orientation: portrait) and (max-width: 480px) {
  .Background {
    background-position: 69% calc(-26% + var(--ifm-navbar-height) + var(--docusaurus-announcement-bar-height));
    background-size: 350%;
  }
}

.CommunityContent{
  width: calc(100% - 1rem);
  max-width: var(--max-content-width);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.CommunityNumbers{
  background: url(./img/communityheader.svg);
  background-position: left 10% top 65%;
  background-size: 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.CommunityNumbers h2{
  color: var(--primary-0);
  margin-bottom: 0;
  padding-top: 6rem;
  font-weight: 300;
}
.CommunityNumbers p{
  margin-bottom: 3rem;
  line-height: 1.7rem;
  font-size: 1.5rem;
}

.CommunityNumbersBlur{
  backdrop-filter: blur(3rem);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.CommunityNumbersContainer{
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.CommunityNumbersContainer > div{
  width: 100%;
  padding: 0 0 3rem 0 ;
  box-sizing: border-box;
}

.CommunityNumbersContainer img{
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: .25rem;
}

.CommunityNumbersBig{
  font-size: 4rem;
  line-height: 4rem;
}

@media(min-width:1000px){
  .CommunityNumbers{
    background-position: left 17.5% top 40%;
    background-size: 150%;
  }
  .CommunityNumbersContainer > div{
    width: 33.3333%;
    padding: 6rem 0;
  }
  .CommunityNumbers p{
    line-height: 2.5rem;
    font-size: 2rem;
    margin-bottom: unset;
  }
}

.UseCases{
  background-color: var(--gray-5-);
  padding-bottom: 5rem;
}

.UseCases h2{
  color: var(--primary-0);
  margin-bottom: 0;
  padding-top: 6rem;
  font-weight: 300;
}
.UseCases p{
  color: var(--gray-1);
  margin-bottom: 3rem;
  line-height: 1.7rem;
  font-size: 1.5rem;
  max-width: var(--max-readable-content-width);
}

@media(min-width:1000px){
  .UseCases{
    background-position: left 17.5% top 40%;
    background-size: 150%;
  }
  .UseCases p{
    line-height: 2.5rem;
    font-size: 2rem;
    margin-bottom: unset;
  }
}

.Slider {
  margin-bottom: 10rem;
  margin-top: 6rem;
}

.Slider:global(.slick-track) {
  display: flex;
}

.Slider:global(.slick-track .slick-slide) {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.Slide {
  padding: 0 1rem;
}
.Slide > div{
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  margin: 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}
.SlideMB{
  margin-bottom: 2rem;
}
.user, .check, .speech, .arrow{
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 60px;
  margin-bottom: 2rem;
}

.user{
  background-image: url(./img/user.svg);
}
.check{
  background-image: url(./img/check.svg);
}
.speech{
  background-image: url(./img/speech.svg);
}
.arrow{
  background-image: url(./img/arrow.svg);
}