.Cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.Card {
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
}

.Card h3 a{
  color: var(--text-color);
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
}
.ForumLink{
  color: var(--text-color);
  text-decoration: none;
}
.ForumLink:hover{
  color: var(--text-color);
  text-decoration: none;
}
.Date{
  margin-bottom: .5rem;
}

.Tags small{
  color: var(--text-color);
  display: inline-block;
  margin-right: .5rem;
  margin-top: .5rem;
  padding: .25rem 1rem;
  background-color: var(--gray-5);
  border-radius: 1rem;
  border-width: 0;
}

@media (min-width: 1000px) {
  .Cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
