.Cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.Card {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.Date {
  margin-top: -0.5rem;
}

.ForumLink {
  color: var(--primary-color);
}

.AdditionalInfo {
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .Cards {
    grid-template-columns: 1fr;
  }
}
