.Slider {
  margin-bottom: 10rem;
  margin-top: 6rem;
}

.Slider:global(.slick-track) {
  display: flex;
}

.Slider:global(.slick-track .slick-slide) {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.Slide {
  padding: 0 1rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 28rem;
}


.SlideTeam {
  padding: 0  ;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media(min-width: 1000px){
  .SlideTeam {
    padding-left: unset;
    padding-right: unset;
  }
}

.SlideImage {
  object-fit: cover;
  border-radius: 0.65rem;
}

.AfterCommunitySlider h3{
  margin-bottom: 0;
}

.AfterCommunitySlider{
  max-width: 600px;
}

.CommunityContent{
  width: calc(100% - 1rem);
  max-width: var(--max-content-width);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.CommunityHeader{
  background: url(./images/communityheader.svg);
  background-position: left 10% top 65%;
  background-size: 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media(min-width:1000px){
  .CommunityHeader{
    background-position: left 17.5% top 40%;
    background-size: 150%;
  }
}

.CommunityHeader > div{
  margin: 3rem auto 10rem;
}

@media(min-width:1000px){
  .CommunityHeader > div{
    margin: 10rem auto;
  }
}

.CommunityContent h1{
  line-height: 1.8rem;
  font-size: 1.6rem;
  color: var(--primary-0);
  font-weight: 400;
  margin: 0;
  max-width: var(--max-readable-content-width);
}

.Paragraph {
  line-height: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  color: var(--text-color);
  max-width: var(--max-readable-content-width);
}

.CommunityContent h2, .CommunityContent h3{
  line-height: 1.7rem;
  font-size: 1.5rem;
  max-width: var(--max-readable-content-width);
}

.SmallParagraph, .SmallParagraphTop{
  line-height: 1.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  color: var(--text-color);
  max-width: var(--max-readable-content-width);
}

.SmallParagraphTop{
  margin-top: 3rem;
}

.SmallParagraphTop a {
  color: var(--text-color);
  text-decoration: underline;
}

@media(min-width:1000px){
  .CommunityHeader > div h1{
    line-height: 3rem;
    font-size: 2.5rem;
  }
  .Paragraph {
    line-height: 40px;
    font-size: 32px;
  }
  .CommunityContent h2, .CommunityContent h3{
    line-height: 28px;
    font-size: 22px;
  }
  .SmallParagraph, .SmallParagraphTop{
    line-height: 28px;
    font-size: 22px;
  }
}

.CommunityDiscussions{
  background: url(./images/communityheader.svg);
  background-position: left 10% top 65%;
  background-size: 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.CommunityDiscussions h2{
  color: var(--primary-0);
}

.CommunityDiscussionsBlur{
  backdrop-filter: blur(3rem);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media(min-width:1000px){
  .CommunityDiscussions{
    background-position: left 17.5% top 40%;
    background-size: 150%;
  }
}

.CommunityContribute{
  background: var(--green-3);
}

.CommunityContribute a {
  color: var(--text-color);
}

.CommunityContribute h3{
  font-size: 1.5rem;
}

.CommunityContribute img{
  display: block;
  width: 48px;
  height: 48px;
}

.CommunityProjectGovernance{
  background: url(./images/communitygovernancemobile.svg);
  background-position: right 1rem bottom -10%;
  background-size: calc(100% - 2rem);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 10rem;
  font-size: 1.25rem;
}

.CommunityProjectGovernance > div{
  background: linear-gradient(#fff 70%, transparent);
}

.CommunityProjectGovernance a{
  color: var(--text-color);
}

@media(min-width: 1000px){
  .CommunityProjectGovernance{
    background: url(./images/communitygovernance.svg);
    background-position: right -10% bottom 5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 6rem;
    font-size: 18px;
    line-height: 24px;
  }
  .CommunityProjectGovernance > div{
    background: unset;
  }
}

.CommunityProjectGovernance section{
  font-size: 18px;
  line-height: 26px;
  max-width: 600px;
}

.CommunityProjectGovernance section h2{
  color: var(--primary-0);
  margin-bottom: 0;
}

.CommunityMembers{
  background: var(--gray-5-);
  color: var(--white);
}

.CommunityMembers h1, .CommunityMembers h3, .CommunityMembers p, .CommunityMembers a{
  color: var(--white);
  font-weight: 300;
}
.CommunityMembers h2{
  color: var(--primary-0);
}
.CommunityMembers h4{
  margin-top: 4rem;
  color: var(--primary-0);
}
.CommunityMembers a{
  text-decoration: underline;
}
.CommunityMembers h2{
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  margin-bottom: 0 !important;
}
.CommunityMembersBig{
  font-size: 40px;
  line-height: 48px;
}
.CommunityMembersSmall{
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}
.CommunityMembersSmall a {
  text-decoration: none;
}
@media(min-width: 1000px){
  .CommunityMembersBig, .CommunityMembersSmall{
    width: 50%;
  }
}
.CommunityAbout{
  background-color: var(--green-2);
  padding: 6rem 0;
}

.PromoCallout {
  padding: 24px 0;
  background: var(--green-4);
}
.PromoCallout > div {
  display: flex;
  flex-direction: column;
}

.PromoCalloutContent{
  margin-bottom: 1.5rem;
}

.PromoCalloutContent strong{
  display: block;
  font-weight: 600;
}

.CommunityNumbers{
  background: url(./images/communityheader.svg);
  background-position: left 10% top 65%;
  background-size: 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.CommunityNumbers h2{
  color: var(--primary-0);
  margin-bottom: 0;
  margin-top: 6rem;
  font-weight: 300;
}
.CommunityNumbers p{
  margin-bottom: 3rem;
  line-height: 1.7rem;
  font-size: 1.5rem;
}

.CommunityNumbersBlur{
  backdrop-filter: blur(3rem);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.CommunityNumbersContainer{
  display: flex;
  flex-wrap: wrap;
}

.CommunityNumbersContainer > div{
  width: 100%;
  padding: 0 0 3rem 0 ;
  box-sizing: border-box;
}

.CommunityNumbersContainer img{
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: .25rem;
}

.CommunityNumbersBig{
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 200;
}

@media(min-width:1000px){
  .CommunityNumbers{
    background-position: left 17.5% top 40%;
    background-size: 150%;
  }
  .CommunityNumbersContainer > div{
    width: 33.3333%;
    padding: 6rem 0;
  }
  .CommunityNumbers p{
    line-height: 2.5rem;
    font-size: 2rem;
    margin-bottom: unset;
  }
}

@media (min-width: 1000px) {
  .PromoCallout > div {
    flex-direction: row;
    justify-content: space-between;
  }
  .PromoCalloutContent{
    margin-bottom: unset;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .PromoCalloutContent strong{
    display: inline;
  }
}


.CommunityMembersDesktop{
  display: none;
}

.CommunityMembersMobile{
  display: block;
}

.CommunityMembersMember{
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  text-decoration: none !important;
}
.CommunityMembersMember > div{
  border: 1px solid var(--gray-3-);
  border-radius: 0.75rem;
  display: flex;
}
.CommunityMembersMember:hover > div{
  border: 1px solid var(--gray-1-);
}
.CommunityMembersMemberPic{
  padding:0.75rem;
}
.CommunityMembersMemberPic img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  max-width: unset;
}
.CommunityMembersMemberName{
  padding: 0.75rem;
  font-size: 18px;
  line-height: 26px;
}

.CommunityMembersMemberName span {
  white-space: nowrap;
}

.CommunityMembersMemberName img {
  vertical-align: text-top;
  padding-right: 0.4em;
  opacity: 0.6;
  height: 1.2em;
  display: inline !important;
}

.CommunityMembersMemberName img.CommunityMembersMemberASFIdLogo {
  opacity: 1;
  padding-top: 0.15em;
}

@media(min-width:1000px){
  .CommunityMembersDesktop{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: auto;
    padding-bottom: 7rem;
  }
  .CommunityMembersMobile{
    display: none;
  }
  .CommunityMembersMember{
    width: 33.3333%;
    padding:0.75rem;
    box-sizing: border-box;
    text-decoration: none !important;
  }
  .CommunityMembersMemberName {
    width: 330px;
  }
  .CommunityMembersShowMore{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--gray-5-);
    padding-bottom: 3rem;
  }
  .CommunityMembersShowMore a {
    text-decoration: none;
  }
  .CommunityMembersMember:nth-of-type(3n-2){
    padding:0.75rem 0.75rem 0.75rem 0;
  }
  .CommunityMembersMember:nth-of-type(3n){
    padding:0.75rem 0 0.75rem 0.75rem;
  }
  .CommunityMembersMember > div{
    border: 1px solid var(--gray-3-);
    border-radius: 0.75rem;
    display: flex;
  }
  .CommunityMembersMember:hover > div{
    border: 1px solid var(--gray-1-);
  }
  .CommunityMembersMemberPic{
    padding:0.75rem;
  }
  .CommunityMembersMemberPic img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: block;
  }
}

