.Slider {
  margin-bottom: 4rem;
}

.Slider:global(.slick-track) {
  display: flex;
}

.Slider:global(.slick-track .slick-slide) {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.Slide {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 28rem;
  overflow: hidden;
}

.SlideImage {
  object-fit: cover;
  border-radius: 0.65rem;
}

.Paragraph {
  max-width: var(--max-readable-content-width);
}
