.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200vh;
  color: #282826;

  background: url('./img/background.svg');
  background-repeat: no-repeat;
  background-position: 50% 11.5%;
  background-size: 200%;
  background-attachment: fixed;
}

.fullsize_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  z-index: 1;
  box-sizing: content-box;
}

.short_container {
  height: 50%;
  width: 100%;
}

.docs_container {
  font-size: 2.5rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: -0.04em;
  line-height: 3rem;
}

@keyframes scroll {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-150%); /* сдвигаем блок на 150% вверх, чтобы он прокрутился на 50% меньше, чем основной блок */
  }
}

.info_container {
  font-size: 2rem;
  width: 1010px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: -0.02em;
  line-height: 1.25;
  z-index: 2;
}

.info_container > span:last-child {
  margin-top: 1.75rem;
}

.title {
  margin-bottom: 0.5rem;
  color: #188FFF;
}

.text {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  line-height: 1.625rem;
  letter-spacing: -0.025em;
}

.buttons {
  display: flex;
}

.buttons > a {
  margin-right: 1rem;
  padding: 1rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.96;
}

.blur {
  backdrop-filter: blur(7.5px);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (max-width: 1280px) {
  .container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
  }
}

@media (max-width: 800px) {
  .docs_container > .title {
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: -0.025em;
    align-self: stretch;
  }

  .docs_container > .subtitle {
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: -0.04em;
    align-self: stretch;
  }

  .text {
    font-size: 0.8rem;
  }

  .info_container {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: -0.025em;
    align-self: stretch;
  }

  b {
    font-weight: normal;
  }
}

@media (max-width: 27.5rem) {
  .docs_container {
    width: 100%;
  }
}
