.block {
  background: #FFFFFF;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 80px 64px;
}

.title_container {
  display: flex;
  flex-direction: column;
  width: 770px;
  margin-bottom: 50px;
}

.text {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  margin-bottom: 46px;
}